version: '3.9'
services:
  postgres:
    image: postgres:15
    container_name: postgres_server
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
      postgres_net:
        ipv4_address: 172.0.6.10

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8082:8080"
    networks:
      postgres_net:
        ipv4_address: 172.0.6.11

networks:
  postgres_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.0.6.0/24
